*{
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  
}
body{
  
 
}
   
.header h3{
    display:block;
    font:normal 60px Cookie, cursive;
    /* font-weight:bold; */
    margin-bottom:20px;
    text-align: center;
    text-shadow: 3px 2px 4px white;
}
    
/* footer */
  footer{
    background-color:#292c2f;
    box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing:border-box;
    width:100%;
    text-align:left;
    font:bold 16px sans-serif;
    padding:55px 50px;
    margin-top:80px;
    bottom:0;
    color:#fff;
  }
  #navbar{
    color: blue;
  }
  .footer-navigation h3{
    margin:0;
    font:normal 40px Cookie, cursive;
    margin-bottom:20px;
    color:#fff;
  }
  
  .footer-navigation h3 a{
    text-decoration:none;
    color:#fff;
  }
  
  .footer-navigation h3 span{
    color:#5383d3;
  }
  
  .footer-navigation p.links a{
    color:#fff;
    text-decoration:none;
  }
  
  .footer-navigation p.company-name{
    color:#8f9296;
    font-size:14px;
    font-weight:normal;
    margin-top:20px;
  }
  
  @media (max-width:767px) {
    .footer-contacts{
      margin:30px 0;
    }
  }
  
  .footer-contacts p{
    display:inline-block;
    color:#ffffff;
    vertical-align:middle;
  }
  .footer-contacts h4{
    display:block;
    color:#fff;
    font:normal 35px Cookie, cursive;
    /* font-weight:bold; */
    margin-bottom:20px;
    
  }
  
  .footer-contacts p a{
    color:#5383d3;
    text-decoration:none;
  }
  
  .fa.footer-contacts-icon{
    background-color:#33383b;
    color:#fff;
    font-size:18px;
    width:38px;
    height:38px;
    border-radius:50%;
    text-align:center;
    line-height:38px;
    margin:10px 15px 10px 0;
  }
  
  span.new-line-span{
    display:block;
    font-weight:normal;
    display:block;
    font-weight:normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-about h4{
    display:block;
    color:#fff;
    font:normal 35px Cookie, cursive;
    /* font-weight:bold; */
    margin-bottom:20px;
  }
  
  .footer-about p{
    line-height:20px;
    color:#dce0e4;
    font-size:13px;
    font-weight:normal;
    margin:0;
  }
  
  div.social-links{
    margin-top:20px;
    color:#fff;
  }
  
  .social-links a{
    display:inline-block;
    width:35px;
    height:35px;
    cursor:pointer;
    background-color:#33383b;
    border-radius:2px;
    font-size:20px;
    color:#ffffff;
    text-align:center;
    line-height:35px;
    margin-right:5px;
    margin-bottom:5px;
  }
  /* images */
  img{
    width: 100%; 
    opacity: .8
    
  }

#showcase{
  margin: 10px 0;
  text-align: center;
  position: relative;
  
 
 
}
#showcase p{
  font:normal 40px Cookie, cursive;
  text-shadow: 2px 3px 5px rgb(160, 176, 218);
  
}
.jumbotron p{
  font:normal 40px Cookie, cursive; }*/


/* .content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  
} */
.container{
  margin: auto;
  
}
/* forms */
#legend{
  font:normal 60px Cookie, cursive;
}



.centered{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(15, 15, 15);
  font-weight:900;
  text-shadow: 2px 2px 5px white;
  box-shadow: 0 15px 35px rgba(14,35,38,0.1), 0 5px 15px rgba(0,0,0,0.05);
  
}
#results{
  font-style: italic;
  font-weight: 400;
  font-size:40px; 
}


 


